<div class="container"
     style="border: 1px solid;">
    <div class="props"
        style="padding: 10px">
        <button
            id="field-is-empty-btn"

            (click)="toggleCheckFields()">
            Field(s) is empty
        </button>
        <app-check-field
            [hidden]="!toggleCheckField"
            [initProps]=initProps></app-check-field>
        <button (click)="toggleSearchFields()"

        >Search fields</button>
        <app-search-fields
            id="block-search"
            [hidden]="!searchFieldsShow"
            [initProps]=initProps>
        </app-search-fields>
        <button
            id="select-btn"

            (click)="findCards()">Select cards
        </button>
        <button
            id="write-to-file-btn"

            (click)="writeCardsToFile(cardList)">Write to file
        </button>

    </div>

    <div
    class="card-list">
    <app-card-list
        [cardList]=cardList></app-card-list>

    <app-card-preview
        [selectedCard]=selectedCard></app-card-preview>
    </div>
</div>

<div class="container"
     style="border: 1px solid;">
    <app-input-field
        [initProps]=initProps
        [selectedCard]=selectedCard></app-input-field>
    <button
        id="update-btn"
        (click)="updateCard()">Update card
    </button>
    <button
        id="create-btn"
        (click)="createCard()">Create card
    </button>
</div>
