@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

::selection {
  color: #fff;
  background: #1cc7d0;
}

.wrapper {
  display: flex;
  height: 420px;
  width: 280px;
  flex: none;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  justify-content: space-around;
  margin: 3rem auto;
}

.wrapper .card {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  /*transform: translateY(0deg);*/
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s cubic-bezier(0.4, 0.2, 0.2, 1);
}

/*.wrapper:hover>.front-face {
  transform: rotateY(-180deg);
}*/

.wrapper .front-face {
  overflow: hidden;
  background-color: #fff5d8;
}

.wrapper.flipCard .front-face{
  transform: rotateY(-180deg);
}

.wrapper.flipCard .back-face{
  transform: rotateY(0deg);
}

.wrapper .card img {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  max-height: 180px;
  border-radius: 10px 10px 0px 0px;

  /*ezek kellenek a db-be*/
  object-position: -9.3vh -10vh;
  width: 155%;
  height: 155%;
}

.back-face-top {
  height: 5%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  background-color: #dfc2c4;
  border: 0;
  /*box-shadow: 0;*/
}

.back-face-top:hover {
  background-color: #c5c7c5;
}

.wrapper .back-face {
  display: flex;
  align-items: center;
  background-color: bisque;
  transform: rotateY(180deg);
}

/*.wrapper:hover>.back-face {
  transform: rotateY(0deg);
}*/

.wrapper .back-face img {
  height: 150px;
  width: 150px;
  padding: 0px;
  border-radius: 50%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper .back-face .info {
  text-align: center;
}

.back-face .info .title {
  font-size: 30px;
  font-weight: 500;
}

.nav-link {
  font-size: 0.9rem;
}


