<div
class="container-fluid fight-table">
    <div
        class="card-place">
        <div
            class="card-placeholder"></div>
    </div>
    <div
        class="card-place">
        <div
            class="card-placeholder"></div>
    </div>
    <div
        class="card-place">
        <div
            class="card-placeholder"></div>
    </div>
    <div
        class="card-place">
        <div
            class="card-placeholder"></div>
    </div>
    <div
        class="card-place">
        <div
            class="card-placeholder"></div>
    </div>
</div>
