<!--onclick="this.classList.toggle('flipCard')"-->
<div class="wrapper"
     [id]=card.id.value
     (click)="frontClick(card.id.value)">
    <div class="card front-face">
        <div
            class="img-container">
            <img
                class="img-car"
                [style.width]=card.objectWidth.value
                [style.height]=card.objectHeight.value
                [style.object-position]="card.objectPositionHorizontal.value + ' ' + card.objectPositionVertical.value"
                [src]=card.imageUrl.value
            />

            <app-locked-img>

            </app-locked-img>

            <app-popup-button
            [card] = card>

            </app-popup-button>
        </div>
        <div
            class="title-row"
        >
            <img
                class="img-logo"

                [src]=card.logoURL.value>
            <div class="card-title">
                {{card.manufacturer.value}}
            </div>
        </div>
        <app-text-var-size-block
            class="type-row"
            [card]="card"
        ></app-text-var-size-block>

        <app-tab-content class="front-table"
                         [datas]="frontDatas()"></app-tab-content>
        <app-select-button
            [cardId]=card.id.value

        ></app-select-button>

    </div>

    <div class="card back-face"
         onclick="event.stopPropagation()">
        <button class="back-face-top"
                (click)="flipToFront(card.id.value)">
            &#8656;
        </button>
        <div class="container-fluid">
            <ul class="nav nav-tabs nav-fill nav-justified" id="back-tabs_{{card.id.value}}">
                <li
                    class="nav-item">
                    <a class="nav-link active" href="#i_{{card.id.value}}" data-bs-toggle="tab">I</a>
                </li>
                <li
                    class="nav-item">
                    <a class="nav-link" href="#ii_{{card.id.value}}" data-bs-toggle="tab">II</a>
                </li>
                <li
                    class="nav-item">
                    <a class="nav-link" href="#iii_{{card.id.value}}" data-bs-toggle="tab">III</a>
                </li>
                <li
                    class="nav-item">
                    <a class="nav-link" href="#iv_{{card.id.value}}" data-bs-toggle="tab">IV</a>
                </li>
            </ul>
        </div>
        <div class="tab-content container-fluid" id="back-tabs-content">
            <div
                class="tab-pane active"
                id="i_{{card.id.value}}">
                <app-tab-content
                    [datas]=iTabDatas()></app-tab-content>
            </div>
            <div class="tab-pane" id="ii_{{card.id.value}}">
                <app-tab-content
                    [datas]=iiTabDatas()></app-tab-content>
            </div>
            <div class="tab-pane" id="iii_{{card.id.value}}">
                <app-tab-content
                    [datas]=iiiTabDatas()></app-tab-content>
            </div>
            <div class="tab-pane" id="iv_{{card.id.value}}">
                <app-tab-content
                    [datas]=ivTabDatas()></app-tab-content>
            </div>
        </div>


    </div>
</div>

