<!--onclick="this.classList.toggle('flipCard')"-->
<div class="wrapper"
     [id]=card.id.value
     (click)="frontClick(card.id.value)"
>
    <div class="card front-face">
        <div
            class="img-container">
            <img
                class="img-car"
                [style.width]=card.objectWidth.value
                [style.height]=card.objectHeight.value
                [style.object-position]="card.objectPositionHorizontal.value + ' ' + card.objectPositionVertical.value"
                [src]=card.imageUrl.value
            />
        </div>
        <div
            class="title-row"
        >
            <img
                class="img-logo"

                [src]=card.logoURL.value>
            <div class="card-title">
                {{card.manufacturer.value}}
            </div>
        </div>
        <app-text-var-size-block
            class="type-row"
            [card]="card"
        ></app-text-var-size-block>

        <app-tab-content class="front-table"
                         [datas]="frontDatas()"></app-tab-content>
        <app-select-button
            [cardId]=card.id.value

        ></app-select-button>

    </div>

    <div class="card back-face"
         onclick="event.stopPropagation()">
        <button class="back-face-top"
                (click)="flipToFront(card.id.value)">
            &#8656;
        </button>

        <ul class="nav nav-tabs" id="back-tabs_{{card.id.value}}">
            <li>
                <a class="nav-link active" href="#chassis_{{card.id.value}}" data-bs-toggle="tab">Chassis</a>
            </li>
            <li>
                <a class="nav-link" href="#drive_{{card.id.value}}" data-bs-toggle="tab">Drive</a>
            </li>
            <li>
                <a class="nav-link" href="#dim_{{card.id.value}}" data-bs-toggle="tab">Dim.</a>
            </li>
            <li>
                <a class="nav-link" href="#transm_{{card.id.value}}" data-bs-toggle="tab">Transm.</a>
            </li>
        </ul>

        <div class="tab-content container-fluid" id="back-tabs-content">
            <div
                class="tab-pane active"
                style="background-color: ivory"
                id="chassis_{{card.id.value}}">
                <app-tab-content
                    [datas]=chassisTabDatas()></app-tab-content>
            </div>
            <div class="tab-pane" id="drive_{{card.id.value}}">
                <app-tab-content
                    [datas]=driveTabDatas()></app-tab-content>
            </div>
            <div class="tab-pane" id="dim_{{card.id.value}}">
                <app-tab-content
                    [datas]=dimensionTabDatas()></app-tab-content>
            </div>
            <div class="tab-pane" id="transm_{{card.id.value}}">
                <app-tab-content
                    [datas]=transmissionTabData()></app-tab-content>
            </div>
        </div>

        <div id="backSelectButton_{{card.id.value}}"></div>
    </div>
</div>

